<div class="container py-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/menu']">Menu</a></li>
            <li class="breadcrumb-item" aria-current="page">Reportes</li>
            <li class="breadcrumb-item" aria-current="page">Reporteria auxiliar</li>
        </ol>
    </nav>
    <div class="card" style="border-top: 4px solid var(--color-principal);">
        <h4 class="card-header text-center">Reporteria auxiliar de toma de lecturas</h4>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-12 col-lg-6">
                    <label for="txt-fechaIni" class="form-label">Fecha de inicio:</label>
                    <input id="txt-fechaIni" type="date" [(ngModel)]="fechaInicio" class="form-control">
                </div>
                <div class="col-12 col-lg-6">
                    <label for="txt-fechaFinal" class="form-label">Fecha de cierre:</label>
                    <input id="txt-fechaFinal" type="date" [(ngModel)]="fechaCierre" class="form-control">
                </div>
            </div>

            <!-- Lista tipo tabla -->
            <div class="list-group mb-4">
                <!-- Reporte PDF -->
                <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Reporte de clientes sin cargos</div>
                        Descarga en PDF con los clientes que no se le realizo la lectura según rango de fecha.
                    </div>
                    <button [disabled]="descargandoArchivo" (click)="generarReporteClientes()"
                        class="btn btn-outline-danger btn-lg" [matTooltip]="'Generar reporte PDF'">
                        <i class="fa-solid fa-file-pdf"></i>
                    </button>
                </div>

                <!-- Reporte Excel -->
                <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Lecturas para OPTIMO (Excel)</div>
                        Descarga de lecturas para migración en formato (.xlsx). Verifica las fechas antes de exportar.
                    </div>
                    <button [disabled]="descargandoArchivo" (click)="descargarExcelLecturas()"
                        class="btn btn-outline-success btn-lg" [matTooltip]="'Descargar archivo Excel'">
                        <i class="fa-solid fa-file-excel"></i>
                    </button>
                </div>
            </div>


            <!-- <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card w-100 h-100">
                        <div class="row h-100 g-0">
                            <div class="col-md-4">
                                <button [disabled]="descargandoArchivo" [matTooltip]="'Click para generar el reporte'"
                                    (click)="generarReporteClientes()" class="w-100 h-100 btn btn-outline-danger">
                                    <i class="fa-solid fa-file-pdf fa-2x"></i>
                                </button>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">Reporte de clientes que no se han ingresado cargos segun mes y
                                        año de
                                        cargos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card w-100 h-100">
                        <div class="row h-100 g-0">
                            <div class="col-md-4">
                                <button [disabled]="descargandoArchivo" [matTooltip]="'Click para generar el reporte'"
                                    (click)="descargarExcelLecturas()" class="w-100 h-100 btn btn-outline-success">
                                    <i class="fa-solid fa-file-excel fa-2x"></i>
                                </button>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">Descarga de lecturas en formato excel (.xlsx) para migrar
                                        lecturas a
                                        OPTIMO. <br>Asegurese de seleccionar rango de fecha correctamente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</div>