<div class="container py-4">
    <h1 class="h2">Bienvenido al sistema!</h1>
    <hr>
    <div class="row mb-2">
        <div class="col-sm-12 col-mb-4 col-lg-4 col-xl-4 mb-2">
            <div class="card shadow" style="border-left: 7px solid var(--color-principal); color: var(--color-principal);">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span>Lecturas registradas del mes:</span>
                            <h3 class="h3">100</h3>
                        </div>
                        <div class="col-3" style="font-size:40px;">
                            <i class="fa-solid fa-box"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-mb-4 col-lg-4 col-xl-4 mb-2">
            <div class="card shadow" style="border-left: 7px solid var(--color-principal); color: var(--color-principal);">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span>Comunidades registradas:</span>
                            <h3 class="h3">100</h3>
                        </div>
                        <div class="col-3" style="font-size:40px;">
                            <i class="fa-solid fa-box"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-mb-4 col-lg-4 col-xl-4 mb-2">
            <div class="card shadow" style="border-left: 7px solid var(--color-principal); color: var(--color-principal);">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span>Clientes registrados:</span>
                            <h3 class="h3">2300</h3>
                        </div>
                        <div class="col-3" style="font-size:40px;">
                            <i class="fa-solid fa-box"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
