<div class="container py-4">
    <h1 class="h2">Bienvenido al sistema!</h1>
    <hr>
    <!-- <div class="container-fluid">
        <div class="row my-1 g-4">
            <!-- Card 1 -->
            <!-- <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow border-0 h-100 px-4" [routerLink]="['']" style="cursor: pointer; border-radius: 1rem;">
                    <div class="row align-items-center py-4">
                        <div class="col-9">
                            <span class="fw-bold" style="font-size: 1.2rem;">Mostrar preparaciones de ingreso de productos a inventario</span>
                        </div>
                        <div class="col-3">
                            <i class="text-success fa-solid fa-box"></i>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Card 2 -->
            <!-- <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow border-0 h-100" style="border-radius: 1rem;">
                    <div class="row align-items-center py-4">
                        <div class="col-9">
                            <span class="fw-bold" style="font-size: 1.5rem;">Productos asociados a materiales y/o preparaciones: 0</span>
                        </div>
                        <div class="col-3 shadow bg-dark text-center text-white rounded">
                            <i class="fa-solid fa-wrench"></i>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Card 3 -->
            <!-- <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow border-0 h-100" style="border-radius: 1rem;">
                    <div class="row align-items-center py-4">
                        <div class="col-9">
                            <span class="fw-bold" style="font-size: 1.5rem;">Ordenes con fecha de retraso:</span>
                        </div>
                        <div class="col-3 shadow bg-danger text-center text-white rounded">
                            <i class="fa-solid fa-calendar-xmark"></i>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div>
    </div> --> 
</div>
