<div class="container py-sm-2 my-4 bg-white rounded shadow-lg py-mb-4 mb-4"
    style="border-top: 5px solid var(--color-principal);">
    <div class="p-2 p-md-4">
        <h3 class="h4 text-center">Consulta de lecturas ingresadas</h3>
        <hr>
        <div class="row mb-4">
            <div class="col-12 col-lg-3 col-xl-2">
                <label for="txt-fecha" class="col-form-label">
                    Mes y año de cargos:
                </label>
            </div>
            <div class="col-12 col-lg-4">
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Fecha Lectura</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Comunidad</th>
                        <th>Lectura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            1
                        </td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>mdo</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                        <td>twitter</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr style="color: transparent;">