<div class="container py-sm-2 my-4 bg-white rounded shadow-lg py-mb-4 mb-4"
    style="border-top: 5px solid var(--color-principal);">
    <div class="p-2 p-md-4">
        <h1 class="h3 text-center">DESCARGA DE LECTURAS INGRESADAS SEGUN MES Y AÑO DE CARGOS</h1>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mt-2 g-4">
            <div class="col">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title">Descarga de archivo excel</h5>
                        <p class="card-text">Ingrese el mes y año de lecturas ingresadas durante el periodo de toma de
                            lecturas</p>
                        <input type="date" [(ngModel)]="selectedDate" class="form-control mb-4">
                        <button (click)="download()" [disabled]="cargando" class="btn btn-success">{{ cargando?
                            'Descargando...' : 'Descargar' }} </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>