<div class="row">
    <div class="col-sm-12 col-lg-6 mb-3">
        <label for="select-proyecto" class="form-label">Seleccione el proyecto</label>
        <select id="select-proyecto" class="form-select">
            <!-- <option selected>Choose...</option> -->
            <option>001 - Ayutepeque</option>
            <option>001 - Ayutepeque</option>
        </select>
    </div>
    <div class="col-sm-12 col-lg-6 mb-3">
        <label for="select-comunidad" class="form-label">Seleccione la comunidad</label>
        <select id="select-comunidad" class="form-select">
            <!-- <option selected>Choose...</option> -->
        </select>
    </div>
</div>