<div class="row">
    <div class="col-sm-12 col-lg-6 mb-3">
        <label for="select-proyecto" class="form-label">Seleccione el proyecto</label>
        <select name="proyectos" id="select-proyecto" (change)="filtrarComunidadesByProyecto($event)" class="form-select">
            <option [value]="undefined" selected>Listado de proyectos</option>
            @for (proyecto of proyectos; track $index) {
            <option [value]="proyecto.codigo">{{proyecto.codigo}} - {{proyecto.nombre}}</option>
            }
        </select>
    </div>
    <div class="col-sm-12 col-lg-6 mb-3">
        <label for="select-comunidad" class="form-label">Seleccione la comunidad</label>
        <select name="comunidades" (change)="emitirFiltroComunidad($event)" id="select-comunidad" class="form-select">
            <option [value]="undefined" selected>Listado de comunidades</option>
            @for (comunidad of comunidades; track $index) {
            <option [value]="comunidad.codigo">{{comunidad.nombre}}</option>
            }
        </select>
    </div>
</div>