/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');*/
/* GLOBAL BOOTSTRAP */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
    background-color: #EEE;
}

:root {
    --color-principal: #155E95;
}

.success-snackbar {
    .mdc-snackbar__surface {
        background-color: #198754 !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.info-snackbar {
    .mdc-snackbar__surface {
        background-color: var(--negro-dark-mode) !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.error-snackbar {
    .mdc-snackbar__surface {
        background-color: #dc3545 !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.warning-snackbar {
    .mdc-snackbar__surface {
        background-color: rgb(255, 243, 205) !important;
    }

    .mdc-snackbar__label {
        color: rgb(102, 77, 3) !important;
    }

    .mat-mdc-button {
        color: rgb(102, 77, 3) !important;
    }
}

.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
 
.animacion {
    animation-duration: .5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
 
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
 
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}