/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
    background-color: #EEE;
}

:root {
    --color-principal: #155E95;
}

.success-snackbar {
    .mdc-snackbar__surface {
        background-color: #198754 !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.info-snackbar {
    .mdc-snackbar__surface {
        background-color: var(--negro-dark-mode) !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.error-snackbar {
    .mdc-snackbar__surface {
        background-color: #dc3545 !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .mat-mdc-button {
        color: white !important;
    }
}

.warning-snackbar {
    .mdc-snackbar__surface {
        background-color: rgb(255, 243, 205) !important;
    }

    .mdc-snackbar__label {
        color: rgb(102, 77, 3) !important;
    }

    .mat-mdc-button {
        color: rgb(102, 77, 3) !important;
    }
}