<div class="container my-4 bg-white rounded shadow-lg py-mb-4 mb-4">
    <h3 class="pt-3 text-center">Ingreso de lecturas</h3>
    <hr>
    <div class="row mb-3 px-md-2 px-lg-4">
        <filtro-clientes />
        <form #lecturaForm='ngForm'>
            <h6>Datos del cliente: </h6>
            <datos-cliente />

            <div class="row">
                <div class="col-12 col-lg-6 mb-4">
                    <label class="label-form-control" for="txt-codigo">Fecha de lectura:</label>
                    <input class="form-control" [(ngModel)]="lectura.fechaLectura" name="fechaLectura"
                        #fechaLectura='ngModel' required type="date" value="{{ obtenerFechaActual }}">
                </div>
                <div class="col-12 col-lg-6 mb-4">
                    <label class="label-form-control" for="txt-codigo">Lectura:</label>
                    <input class="form-control" [(ngModel)]="lectura.lecturaActual" name="lecturaActual"
                        #lecturaActual='ngModel' required type="number">
                </div>
                <div class="col-12 mb-4">
                    <button type="submit" [disabled]="lecturaForm.invalid" class="btn btn-dark w-100">Registrar
                        lectura</button>
                </div>

            </div>
        </form>
    </div>
</div>